* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Fira Sans', sans-serif;
    }
    
    .container {
        width: 90%;
        min-height: 100vh;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }


    .slider {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/effort-stack.appspot.com/o/Sistema%2FSistemaBackground.png?alt=media&token=941b65b3-c286-4dfd-ba1a-46189b27856e");
        padding: 40px 0;
    }

    .slider__container {
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        gap: 1em;

    }

    .slider___body {
        grid-column: 2/3;
        grid-row: 1/2;
        opacity: 0;
        pointer-events: none;
        display: grid;
        background-color: #f2f2;
        grid-template-columns: 1fr max-content;
        align-items: center;
        transition: opacity 1.5s;
    }

    .slider___body--show {
        opacity: 1;
        pointer-events: unset;
    }

    .slider__texts {
        max-width: 600px;

    }

    .subtitle {
        font-size: 2.5rem;
        margin-bottom: 20px;

    }

    .slider__review {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.7;
        text-align: justify;
    }

    .slider__img {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .slider__arrow {
        cursor: pointer;
        width: 90%;
    }

    .slider__arrow:nth-of-type(2) {
        justify-self: end;
    }

    .theme1 {
        color: #7C617A;
        font-size:50px;
    }

    .theme2 {
        color: #5A7870;
        font-size:50px;
    }
    .theme3 {
        color: #BA9621;
        font-size:50px;
    }


    @media (max-width: 768px) {

        .slider___body {
            grid-template-columns: 1fr;
            grid-template-columns: max-content 1fr;
            gap: 1em;
        }


        .slider__picture {
            grid-row: 1/2;
        }

        .slider__img {
            width: 210px;
            height: 210px;
        }
    }


    @media (max-width: 425px) {

        .slider___body {
            grid-template-columns: 25px 1fr 25px ;
            grid-template-columns: max-content 1fr ;
        }


        .slider__arrow{
            width: 100%;

        }

        .slider__img {
            width: 180px;
            height: 180px;
        }
        
        .subtitle {
            font-size: 2rem;
            margin-bottom: 15px;
        }

        .slider__review {
            font-size: 1rem;
            line-height: 1.6;
        }
    }